:root {
  --primary-text-color: #212121;
  --secondery-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  margin: 0;
}

.list {
  list-style: none;
}

img {
  display: block;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-items a {
  text-decoration: none;
}

.flex {
  display: flex;
  align-items: baseline;
}
.hiden-element {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

/* header */
.header-underline {
  border-bottom: 1px solid #f5f4fa;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--primary-text-color);
  text-decoration: none;
  margin-right: 94px;
}

.logo:hover,
.logo:focus {
  cursor: pointer;
}

.logo .text {
  color: var(--accent-color);
}
.main-nav {
  display: flex;
  align-items: center;
}

.connect-header {
  display: flex;
}

.main-nav .item {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding: 32px 0;
  display: inline-block;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav .item:hover,
.main-nav .item:focus {
  color: var(--accent-color);
}
.main-nav-item {
  position: relative;
}
/* a line ander the nav-curent  */
.main-nav-item .item::after {
  content: "";
  background: #2196f3;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  top: 100%;
  left: 0;
  opacity: 0;
}

.main-nav .current::after {
  opacity: 1;
}

.main-nav .current {
  color: var(--accent-color);
}

.main-nav-item:not(:last-child) {
  margin-right: 50px;
}

.connect-header .item {
  color: var(--secondery-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: inline-block;
  padding: 32px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connect-header .item:hover,
.connect-header .item:focus {
  color: var(--accent-color);
}
.connect-header {
  margin-left: auto;
}

.connect-header-list:not(:last-child) {
  margin-right: 50px;
}

/* icons */

.connect-header-list .item {
  display: flex;
}

.connect-header-list .mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
  align-items: center;
}
.connect-header-list .phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
  align-items: center;
}

/* hero */

.hero {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-bg-image.jpg");
  background-color: #2f303a;

  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-name {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border-radius: 4px;
  color: var(--white-color);
  border: none;
  cursor: pointer;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* modal window */
.backdrop {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}
.modal {

  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  fill: currentColor;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover {
  color: var(--accent-color);
}

/* Modals forms  */


.modal-forms {
  flex-direction: column;
  color: var(--secondery-text-color);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.forms-items {
  margin-bottom: 4px;
}

.input-area {
 
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
border-radius: 4px;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.input-area:focus-visible{
outline: none;
 border: 1px solid var(--accent-color);
  border-radius: 4px;

 
  }







.area-wrap {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.forms-icons {

  width: 12px;
  height: 12px;
  position: absolute;
  margin-left: 15px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.area-wrap:hover .forms-icons {
  fill: var(--accent-color);
}
.area-wrap:focus-within .forms-icons {
  fill: var(--accent-color);

}

.text-area {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.checkbox-item {
  display: block;
  position: relative;
  align-self: center;
padding-left: 20px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

}

.checkbox {
  appearance: none;
}

.icon-check {
  
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked ~ .icon-check {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);


}

.form-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border-radius: 4px;
  color: var(--white-color);
  border: none;
  cursor: pointer;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  align-self: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background-color: #188ce8;
}

.form-contract {
  color: var(--accent-color);
}

/* our features */

.our-specials {
  padding-bottom: 0;
}

.hidden-element {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.our-features-description .subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.our-features-description .text-features {
  color: var(--secondery-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.our-features-description {
  display: flex;
  width: 270px;
  flex-wrap: wrap;
  margin-right: 30px;
}

.features-bg {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.features-icon {
  display: flex;
  fill: var(--primary-text-color);
}

.our-features-description:not(:last-child) {
  margin-right: 30px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

/* чем мы занимаемся */
.what-we-do-item {
  
  position: relative;
 
}

.what-we-do-text-bg {
 
  content: "";
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
}

.what-we-do-item .text {
  width: 100%;
  content: "";
  bottom: 27px;
  left: 50%;

  transform: translatex(-50%);
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);

}

.what-we-do-item:not(:last-child) {
  margin-right: 30px;
}

/* team */

.team-bc {
  background-color: #f5f4fa;
}

.team-text .subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.team-item p {
  color: var(--secondery-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}
.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item {
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

/* Social icons */

.icons-social-aline {
  justify-content: center;
}
.socil-list:not(:last-child) {
  margin-right: 10px;
}

.icons-social-team {
  display: flex;
  width: 44px;
  height: 44px;
  border-color: transparent;
  border-radius: 50%;
  fill: #afb1b8;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-social {
  width: 20px;
  height: 20px;
}

.icons-social-team:hover,
.icons-social-team:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
  cursor: pointer;
}

/* our-customars */

.customers-icon:not(:last-child) {
  margin-right: 30px;
}

.our-customers-link {
  width: 170px;
  height: 92px;
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-customers {
  display: inline-block;
  border: none;
  fill: currentColor;
}

.our-customers-link:hover,
.our-customers-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* portfolio */

.portfolio-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn .button {
  min-width: 73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 20px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn .button:hover,
.portfolio-btn .button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-list-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-list {
  line-height: 1.9;
  font-size: 16px;
}

.portfolio-card-hover {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-hover:hover,
.portfolio-card-hover:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list a {
  text-decoration: none;
}

.portfolio-list .description {
  background: var(--white-color);
  padding: 20px 24px;
  background-color: var(--white-color);
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-list .subtitle {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-text {
  color: var(--secondery-text-color);
}

/* Портфолио екшин */

.portfolio-action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: flex;
  align-items: center;
}

.portfolio-action-card {
  position: relative;
  overflow: hidden;
}

.portfolio-text-action {
  display: flex;
  padding: 0 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.portfolio-action {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-action,
.portfolio-list-item:focus .portfolio-action {
  transform: translateY(0);
}
/* footer */

.contact-footer .item {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-footer .item:hover,
.contact-footer .item:focus {
  color: var(--accent-color);
}

.main-footer .logo {
  display: inline-block;
  color: var(--white-color);
  margin-bottom: 20px;
  margin-top: 0;
  margin-right: 0;
}
.address {
  color: var(--white-color);
  line-height: 1.7;
  font-style: normal;
}
.contact-footer-list:not(:last-child) {
  margin-bottom: 9px;
}
.address-text {
  margin-bottom: 9px;
}

.main-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-adres {
  margin-right: 70px;
}

/* footert join us */

.footer-join-text {
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.footer-join .icons-social-team {
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-join .icons-social-team:hover,
.footer-join .icons-social-team:focus {
  background-color: var(--accent-color);
}

.footer-join .icons-social {
  color: currentColor;
}

.sign-us {
  flex-flow: column;
  margin-left: 93px;
}

.sign-us-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}
.sign-us-input {


  color: var(--white-color);
  padding: 15px 16px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;

  color: var(--white-color);
}

.sign-us-btn {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  margin-left: 12px;
  border: none;
  color: var(--white-color);
  font-size: 16px;
  letter-spacing: 0.06em;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
