
.main-nav{
  &__link {
    text-decoration: none;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $primary-text-color;
    padding: 32px 0;
    display: inline-block;

    transition: color $duration $cubic;
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  &__item {
    position: relative;
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link::after {
    content: "";
    background: $accent-color;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
  }

  &__current::after {
    opacity: 1;
  }

  &__current {
    color: $accent-color;
  }
}

.connect-header {
  margin-left: auto;

  &__link {
    display: flex;
    align-items: center;
    color: $secondery-text-color;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0;
    transition: color $duration $duration;
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
  .connect-header__item:not(:last-child) {
    margin-right: 50px;
  }
  &__mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }
  &__phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
  }
}
